{% extends "base.html.twig" %}

{% block body %}
    <div class="grid grid-cols-1 justify-items-center items-center text-white w-auto h-screen bg-cover bg-no-repeat" style="background-image: url({{ asset('img/fond-index.jpg') }});">
        <div class="w-3/4 h-3/4 flex flex-col justify-center content-center text-center bg-gray-900/90 rounded-lg">
            <div class="flex flex-col mb-4">
                <h1 class="text-5xl font-bold mb-4 text-orange-500">Epsilon</h1>
                <p class="text-xl">Bienvenue sur la plateforme de peer-learning de l'Epsi</p>
            </div>
            <div>
                <button class="bg-orange-500 font-bold py-2 px-4 max-w-40 rounded">Inscrivez-vous</button>
            </div>
        </div>
    </div>
{% endblock %}