{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form action="{{ path('app_upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="fichier" accept=".pdf, image/*">
            <button type="submit" name="envoyer_fichier">Envoyer</button>
        </form>
    </div>

{% endblock %}